.container{
    margin-top: 2rem;
    background-color: #ffffff;
}

.container .row{
    background-color: #93c3f3;
    margin-top: 2rem;
}

.container .row-form{
    background-color: #ffffff;
    border: 1px solid #93c3f3;
    border-radius: 5px;
    padding:10px;
}
